*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #000;
}

body::before{
  content: "";
  position: absolute;
  background-color: white;
  z-index: -1;
  height: 2.2rem;
  width: 100%;
  top: 0;
  left: 0;
}

main{
width: 100%;
padding: 3.2rem;
}

nav ul{
  display: flex;
  justify-content: flex-end;
  gap: 22px;
  list-style: none;
  padding-right: 10.2rem;
  padding-top: .3rem;
}

a{
  color: #020202e3;
}

a:hover{
  font-weight: bold;
  color: #000000b0;
}

legend{
  color: white;
}

fieldset span{
  color: rgb(0, 201, 0);
}

fieldset{
  border: 0;
}

p{
  margin: 1.2rem;
  color: rgb(214, 238, 208);
}